.content-container {
    margin: 0 15%;
}
.go-home {
    margin-top: 20px;
}
.go-home a{
    color: #343a40;
}
.go-home a:hover {
    color: #77ca64;
    text-decoration: none;
}
.go-home p {
    color: #77ca64;
    display: inline-block;
}
.news-list-title {
    font-size: 18px;
    font-weight: bold;
}
.line {
    height: 2px;
    background-color: #918e8e;
    margin: 20px 0;
}
.news-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calc((100% - 1200px));
}
.news-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}
.news-item > * {
    font-size: 16px;
    margin-bottom: 10px;
}
.news-item > img {
    width: 100%;
}
.news-title > a{
    color: #555;
}
.news-title > a:hover {
    color: #77ca64;
    text-decoration: none;
}
.news-item > .justify {
    font-size: 12px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #77ca64;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item:hover {
    background-color: #77ca64;
    color: #fff;
}

.pagination .page-item.disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
