.container {
    margin: 0;
}
.table thead th {
    vertical-align: middle;
    text-align: center;
}
.table tbody td {
    vertical-align: middle;
    text-align: center;
}
.btn-search {
    margin-top: 30px;
}
.btn-add-product {
    float: right;
    margin-bottom: 20px;
}
.btn-action {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.option {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.top-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.products-home-pagination {
    margin-top: 10px;
}
td > .img-fluid {
    max-width: 50px;
}