.footer-section {
    margin-top: 100px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;

    background-color: #f8f8f8;
}
.footer-container a{
    color: black;
}
.footer-container a:hover {
    color: #77ca64;
    text-decoration: none;
}
.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}