.navbar-container {
    background-color: #212529;
    height: 50px;
    margin: 0 auto;
    padding: 0 15%;
}
.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar-item {
    margin: 0 10px;
    position: relative;
}
.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.navbar-item a:hover {
    background-color: #77ca64;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    padding: 0;
}
.dropdown-item {
    width: auto;
    padding: 0;
    background-color: white;
}
.dropdown-item a {
    margin: 0;
    color: #212529;
}
.dropdown-item a:hover {
    background-color: #77ca64;
}
.navbar-item.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-toggler {
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
    width: 30px;
    padding: 0;
}
.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #77ca64;
    margin: 1px;
}
@media (max-width: 992px) {
    .navbar-container {
        display: none;
    }
    .navbar-toggler {
        display: flex;
        flex-direction: column;
        gap: 1px;
        text-align: center;
        width: 20px;
        margin-left: 5px;
    }
    .navbar-container.show {
        display: block;
    }
    .navbar-menu {
        flex-direction: column;
        text-align: center;
    }
    .navbar-item {
        margin: 0;
    }
}